<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
    <sectionGroup name="businessObjects">
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ApplicationType" value="DMS"/>
    <add key="Category" value="Category"/>
    <add key="SubCategory" value="Sub Category"/>
    <add key="Location" value="Major Location"/>
    <add key="Building" value="Minor Location"/>
    <add key="Floor" value="Minor Sub Location"/>
    <add key="Asset" value="Document"/>
    <add key="Dispose" value="Return to Customer"/>
    <add key="WarrantyAMC" value="false"/>
    <add key="DocumentUpdate" value="true"/>
    <add key="ChangeGridOrder" value="true"/>
    <add key="CompanyLogo" value="Fragmon_Logo.png"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    
  </appSettings>
  <connectionStrings>
    <!--Tagit_AMS_Asset_Identification-->
    <add name="ConnectionString" connectionString="Data Source=PRASHANT-PC;Initial Catalog=DMS_TAGIT;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=PRASHANTPC;Initial Catalog=DMSNew;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
  <system.web>
    <pages buffer="true" enableEventValidation="false" masterPageFile="~/adminMasterPage.master">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
    <!--<sessionState mode="InProc" cookieless="true" timeout="20" />-->
    <authentication mode="Forms">
      <forms defaultUrl="Login.aspx" slidingExpiration="true" timeout="60"/>
    </authentication>
    <sessionState timeout="60"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <!--<log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>

      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d,%-5level: %m%n"/>
      </layout>
    </appender>
  </log4net>-->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>