
        .squareFrame
        {
            margin-left: auto;
            margin-right: auto;
            display: table-cell;
            position: relative;
            overflow: hidden;
            width: 1000px;
            box-shadow: inset 0 50px rgba(255,255,255,0.1), inset 2px -15px 30px rgba(0,0,0,0.4), 2px 2px 5px rgba(0,0,0,0.3);
            padding: 25px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            vertical-align: middle;
            text-align: center;
        }
        
        @media only screen and (min-width: 414px) and (max-width:736px)
        {
            .squareFrame
            {
                margin-left: auto;
                margin-right: auto;
                display: table-cell;
                position: relative;
                overflow: hidden;
                width: 500px;
                box-shadow: inset 0 50px rgba(255,255,255,0.1), inset 2px -15px 30px rgba(0,0,0,0.4), 2px 2px 5px rgba(0,0,0,0.3);
                padding: 25px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                vertical-align: middle;
                text-align: center;
            }
        }
        @media only screen and (min-width: 768px) and (max-width:1024px)
        {
            .squareFrame
            {
                margin-left: auto;
                margin-right: auto;
                display: table-cell;
                position: relative;
                overflow: hidden;
                width: 700px;
                box-shadow: inset 0 50px rgba(255,255,255,0.1), inset 2px -15px 30px rgba(0,0,0,0.4), 2px 2px 5px rgba(0,0,0,0.3);
                padding: 25px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                vertical-align: middle;
                text-align: center;
            }
        }
         @media only screen and (min-width: 360px) and (max-width:640px)
        {
            .squareFrame
            {
                margin-left: auto;
                margin-right: auto;
                display: table-cell;
                position: relative;
                overflow: hidden;
                width: 500px;
                box-shadow: inset 0 50px rgba(255,255,255,0.1), inset 2px -15px 30px rgba(0,0,0,0.4), 2px 2px 5px rgba(0,0,0,0.3);
                padding: 25px;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                vertical-align: middle;
                text-align: center;
            }
        }
        
        .active:active
        {
            
           
        }
        .changeButtonState
        {
            
        }
        .focus:focus
        {
            
        }
        :target
        {
         color:Red!important;   
        }